#cookie-consent {
    background-color: beige;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

#accept-cookies {
    position: relative;
    float: right;
}

/*Adjusting horizontal bar problem*/

#cookie-consent,
#cookie-consent:before,
#cookie-consent:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
